/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: url('http://localhost:50723/ProjectImage/ProductPhoto/a3.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for Forms */
.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

/* Input Fields */
.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    display: block;
}

.input-field::placeholder {
    color: white;
}

/* Buttons */
.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    width: 48%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.back-btn {
    background-color: #6c757d;
}

.back-btn:hover {
    background-color: #5a6268;
}

/* Links */
p {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
